body {
    margin: 0; /* Usunięcie domyślnych marginesów */
    padding: 20px; /* Umożliwia oddzielenie treści od krawędzi */
    background: 
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
        url('./omnie.jpg') no-repeat center center fixed; /* Ustawienie tła */
    background-size: cover; /* Umożliwia odpowiednie skalowanie tła */
    font-family: 'Lora', serif; /* Użycie czcionki Lora */
    color: #f5f5f5; /* Jasny tekst dla lepszej czytelności */
    display: flex; /* Umożliwia wyrównanie dzieci w flexboxie */
    flex-direction: column; /* Umożliwia układanie w kolumnie */
    align-items: center; /* Wyśrodkowanie wszystkich dzieci */
    text-align: center; /* Wyśrodkowanie tekstu */
}

h1, h2, p, a {
    margin: 0 0 15px; /* Spadające marginesy dla wszystkich elementów */
    width: 100%; /* Umożliwia pełne wykorzystanie dostępnej szerokości */
}

h1 {
    color: #ffffff; /* Czysty biały kolor nagłówka */
    font-size: 2em; /* Ustalenie bardziej stonowanego rozmiaru nagłówka */
    opacity: 0.9;
}

h2 {
    color: #ffd700; /* Złoty kolor nagłówków */
    font-size: 1.5em; /* Rozmiar dla nagłówków drugiego poziomu */
    font-weight: normal; /* Normalna grubość tekstu */
}

.photo {
    max-width: 50%;
    width: auto;
    height: auto;
}


p {
    color: #eeeeee; /* Subtelniejszy kolor tekstu */
    line-height: 1.6; /* Zwiększenie odstępu między liniami */
    font-size: 1.2em; /* Większy rozmiar tekstu dla lepszej czytelności */
    word-wrap: break-word; /* Umożliwia zawijanie długich słów */
}

a {
    color: #ffd700; /* Kolor linków */
    text-decoration: none; 
    font-weight: normal; /* Normalna grubość tekstu */
    margin-top: 20px; 
    display: inline-block; 
}

a:hover {
    color: #ffcc00; /* Kolor linku na hover */
    transform: scale(1.05); /* Efekt powiększenia */
}

.container {
    width: 100%; /* Ustaw na 100% dla lepszej responsywności */
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for responsiveness */
@media (max-width: 800px) {
    h1 {
        font-size: 1.8em; /* Dostosuj rozmiar nagłówka dla średnich ekranów */
    }

    h2 {
        font-size: 1.4em; /* Dostosuj rozmiar nagłówka dla średnich ekranów */
    }

    p {
        font-size: 1.1em; /* Dostosuj rozmiar tekstu dla średnich ekranów */
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Dostosuj rozmiar nagłówka na telefonie */
    }

    h2 {
        font-size: 1.2em; /* Dostosuj rozmiar nagłówka na telefonie */
    }

    p {
        font-size: 1em; /* Dostosuj rozmiar tekstu na telefonie */
    }

    a {
        font-size: 0.9em; /* Dostosowanie linków na małych ekranach */
    }

    .container {
        padding: 5px; /* Mniejsze paddingi */
    }
	
	.photo {
    max-width: 100%;
    width: auto;
    height: auto;
}
}
