/* Globalne style */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-weight: bold;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('./ja.jpg'); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover; 
    margin: 5px; 
    text-shadow: 1px 1px 2px black; 
}

h1, h2, h3, h4, h5, h6, p, .nav-link, .category-item, .subcategory-item {
    font-family: 'Lora', serif; 
}

.title-container {
    
    justify-content: center; 
    margin: 0; 
    text-align: center; 
	color: white;
}

.container {
    display: flex; /* Użycie rzędu dla sidebaru i kontentu */
    margin: 10px; /* Odstęp dookoła kontenera */
}

/* Sidebar */
.sidebar-container {
    width: 200px; /* Ustalamy szerokość sidebaru */
    margin-right: 12px; /* Odstęp od kontentu */
}

.sidebar {
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 8px; 
    padding: 5px; 
}



/* Obrazki */
img {
    max-width: 100%;
    height: auto; 
}

/* Wyświetlanie produktów */
.product-display {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* Cztery kolumny na dużych ekranach */
    gap: 10px; /* Odstęp między kafelkami */
    flex: 1; /* Pozwól kontenerowi z produktami zająć dostępne miejsce */
}

.product {
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 2.5px; /* Zmniejszono padding */
    max-height: 185px; 
}

.product img {
    width: 100%; 
    height: 50px; /* Zmniejszenie wysokości obrazków */
    object-fit: cover; 
    border-radius: 5px; 
    cursor: pointer;
}

.product img:hover {
    transform: scale(1.05); 
}

.product h2, .product p {
    margin: 0; 
    text-align: center; 
    color: white; 
	font-size: 12px;
}

/* Przyciski */
button {
    background-color: rgba(255, 235, 59, 0.8);
    border: none; 
    color: black; 
	border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: yellow; 
}

/* Animacja fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

/* Nawigacja */
.navigation-container {
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 10px 0; 
    justify-content: space-between; 
    flex-wrap: wrap; /* Pozwól na przenoszenie do nowej linii */
}

.nav-link {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
    font-size: clamp(12px, 2vw + 1rem, 25px); /* Użycie clamp dla responsywności */
}

.nav-link:hover {
    color: yellow; 
}

/* Dostosowanie listy kategorii */
.category-list {
    list-style-type: none; 
    padding: 0; 
}

.category-item {
    cursor: pointer; 
    padding: 5px; 
    border-radius: 4px; 
    color: white; 
    font-size: clamp(12px, 1.5vw + 1rem, 25px);
}

.category-item:hover {
    color: #ffeb3b; 
}

.subcategory-list {
    list-style-type: none; 
    padding-left: 25px; 
    padding: 10px; 
}

.subcategory-item {
    cursor: pointer; 
    color: white; 
}

.subcategory-item:hover {
    color: yellow; 
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    padding: 50px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.modal-image {
    max-width: 100%; 
    max-height: 400px; 
    object-fit: contain; 
}

.close {
    position: absolute;
    top: 10px;
    right: 20px; /* Dostosuj do położenia */
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
	font-size: 40px;
}

.carousel-navigation button {
    background-color: rgba(255, 235, 59, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-navigation button:hover {
    background-color: yellow; 
}

/* Koszyk */
.cart {
    width: 80%; /* Zmniejszona szerokość */
    max-width: 600px; /* Max szerokość koszyka */
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 8px; 
    margin: 20px auto; /* Centrowanie */
    color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}

.cart h2 {
    font-size: 24px; 
    margin-bottom: 15px; 
}

.cart-items {
    margin-bottom: 15px; 
}

.cart-items div {
    padding: 10px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

.cart-items div:last-child {
    border-bottom: none; 
}

.cart input[type="text"] {
    width: 100%; /* Ustaw na 100% */
    padding: 5px; 
    font-size: 14px; 
}

@keyframes pulse {
    100% {
        opacity: 2;
        transform: scale(1.2);
    }
}

#shipping-cost {
    text-align: center; 
    color: rgba(255, 0, 0, 0.9);
    animation: pulse 3s infinite; 
}

/* Style dla formularzy */
input[type="text"], input[type="email"], textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: rgba(249, 249, 249, 0.8); 
}

/* Focus */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}



/* Media Queries dla urządzeń mobilnych */
@media (max-width: 600px) {
    .container {
        flex-direction: row; /* Zachowaj układ w rzędzie na małych ekranach */
    }

 .sidebar-container {
        width: 130px; /* Sidebar zajmujący 50px na małych ekranach */
        margin-right: 12px; /* Odstęp od kontentu */
		margin-left: -13px;
    }
   .product-display {
        grid-template-columns: repeat(2, 1fr); /* Dwie kolumny dla mobilnych */
        max-width: calc(100% - 62px); /* Produkty zajmują całą szerokość minus szerokość sidebaru + margines */
		flex: 1;
    }

    .nav-link {
        font-size: 16px; /* Zmniejszenie czcionki w nawigacji na mniejszych ekranach */
    }
	
	.category-item {
        font-size: 15px; /* Ustal mniejszy rozmiar czcionki na małych ekranach */
	
	
	
}