/* Globalne style */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-weight: bold;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('./ja.jpg'); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover; 
    margin: 0; 
    text-shadow: 1px 1px 2px black; 
}

h1, h2, h3, h4, h5, h6, p, .nav-link, .category-item, .subcategory-item {
    font-family: 'Lora', serif; 
}

.title-container {
    display: flex; 
    justify-content: center; 
    margin: 0; 
    text-align: center; 
}

.container {
    display: flex; /* Użycie rzędu dla sidebaru i kontentu */
    margin: 20px; /* Odstęp dookoła kontenera */
}

/* Sidebar */
.sidebar-container {
    flex: 1; /* Elastyczne dopasowanie */
    min-width: 250px; /* Minimalna szerokość */
    margin-right: 20px; /* Odstęp od kontentu */
}

.sidebar {
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 8px; 
    padding: 10px; 
}

/* Kontent z produktami */
.content {
    flex: 3; /* Elastyczne dopasowanie */
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 8px; 
    padding: 20px; 
}

/* Obrazki */
img {
    max-width: 100%;
    height: auto; 
}

/* Wyświetlanie produktów */
.product-display {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Zmniejszenie minimalnej szerokości do 160px */
    gap: 10px; /* Odstęp między kafelkami */
}

.product {
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 5px; 
    min-height: 200px; /* Zmniejszenie wysokości kafelków */
}

.product img {
    width: 100%; 
    height: 100px; /* Ustalamy stałą wysokość dla obrazków */
    object-fit: cover; 
    border-radius: 5px; 
    cursor: pointer;
}

.product img:hover {
    transform: scale(1.05); 
}

.product h2, .product p {
    margin: 0; 
    text-align: center; 
    color: white; 
}

/* Przyciski */
button {
    background-color: rgba(255, 235, 59, 0.8);
    border: none; 
    color: black; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: yellow; 
}

/* Animacja fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

/* Dostosowanie nawigacji */
.navigation-container {
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 20px 0; 
    justify-content: space-between; 
}

.nav-link {
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.nav-link:hover {
    color: yellow; 
}

/* Dostosowanie listy kategorii */
.category-list {
    list-style-type: none; 
    padding: 0; 
}

.category-item {
    cursor: pointer; 
    padding: 5px; 
    border-radius: 4px; 
    color: white; 
    font-size: 25px; 
}

.category-item:hover {
    color: #ffeb3b; 
}

.subcategory-list {
    list-style-type: none; 
    padding-left: 25px; 
    padding: 10px; 
}

.subcategory-item {
    cursor: pointer; 
    color: white; 
}

.subcategory-item:hover {
    color: yellow; 
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    padding: 50px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.modal-image {
    max-width: 100%; 
    max-height: 400px; 
    object-fit: contain; 
}

.close {
    position: absolute;
    top: 10px;
    right: 20px; /* Dostosuj do położenia */
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.carousel-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-navigation button {
    background-color: rgba(255, 235, 59, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-navigation button:hover {
    background-color: yellow; 
}

/* Koszyk */
.cart {
    width: 80%; /* Zmniejszona szerokość */
    max-width: 600px; /* Max szerokość koszyka */
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 8px; 
    margin: 20px auto; /* Centrowanie */
    color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}

.cart h2 {
    font-size: 24px; 
    margin-bottom: 15px; 
}

.cart-items {
    margin-bottom: 15px; 
}

.cart-items div {
    padding: 10px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

.cart-items div:last-child {
    border-bottom: none; 
}

.cart input[type="text"] {
    width: 100%; /* Ustaw na 100% */
    padding: 5px; 
    font-size: 14px; 
}

@keyframes pulse {
    100% {
        opacity: 2;
        transform: scale(1.2);
    }
}

#shipping-cost {
    text-align: center; 
    color: rgba(255, 0, 0, 0.9);
    animation: pulse 3s infinite; 
}

/* Style dla formularzy */
input[type="text"], input[type="email"], textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: rgba(249, 249, 249, 0.8); 
}

/* Focus */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF; 
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Styl dla urządzeń mobilnych */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Kolumnowe na urządzenia mobilne */
        width: 95%; /* Szerokość do 95% */
    }

    .sidebar-container, .content {
        margin: 10px 0; /* Marginesy w pionie */
        width: 100%;  /* Szerokość do 100% */
    }

    .product-display {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Mniejsze kolumny na telefonach */
    }

    .nav-link {
        font-size: 14px; /* Mniejsza czcionka dla mobilnych */
    }

    .category-item {
        font-size: 20px; /* Mniejsza czcionka dla mobilnych */
    }

    .cart {
        width: 90%; /* Większa szerokość koszyka */
    }
}